.fruit_large {
    width: 200px; height: 200px; position: absolute;
    background-repeat: no-repeat; background-size: 200px 200px;
}

.fruit_small {
    width: 36px; height: 50px;
    background-repeat: no-repeat; background-size: 50px 50px;
    background-position: center center;
}

.fruit_med {
    width: 75px; height: 100px;
    background-repeat: no-repeat; background-size: 100px 100px;
    background-position: center center;
}

.apples {
    background-image: url(http://thebrown.net/mm/images/fruit_apples.png);
}

.bananas {
    background-image: url(http://thebrown.net/mm/images/fruit_bananas.png);
}

.cherries {
    background-image: url(http://thebrown.net/mm/images/fruit_cherries.png);
}

.pineapple {
    background-image: url(http://thebrown.net/mm/images/fruit_pineapple.png);
}

.arrow_small {
    width: 40px; height: 40px;
    background-repeat: no-repeat; background-size: 50px 40px;
    background-position: center center;
}

.arrow_med {
    width: 60px; height: 80px;
    background-repeat: no-repeat; background-size: 80px 50px;
    background-position: center center;
}

.left {
    background-image: url(http://thebrown.net/mm/images/arrow_left.png);
}

.right {
    background-image: url(http://thebrown.net/mm/images/arrow_right.png);
}

.face_large {
    width: 80px; height: 80px; position: relative;
    background-repeat: no-repeat; background-size: 80px 80px;
    left: 97px; top: 290px;
}

.face_small {
    position: relative;
    left: 10px;
    top: 8px;
    width: 30px; height: 30px;
    background-repeat: no-repeat; background-size: 33px 33px;
    background-position: center center;
}

.face_med {
    position: relative;
    top: 10px;
    left: 15px;
    width: 50px; height: 50px;
    background-repeat: no-repeat; background-size: 50px 50px;
}

.head_small {
    position: relative;
    width: 50px; height: 40px;
    background-repeat: no-repeat; background-size: 50px 40px;
    background-image: url(http://thebrown.net/mm/images/monkey_head.png);
}

.head_med {
    position: relative;
    width: 80px; height: 60px;
    background-repeat: no-repeat; background-size: 80px 60px;
    background-image: url(http://thebrown.net/mm/images/monkey_head.png);
}

.blank {
    background-image: url(http://thebrown.net/mm/images/face_blank.png);
}

.angry {
    background-image: url(http://thebrown.net/mm/images/face_angry.png);
}

.sad {
    background-image: url(http://thebrown.net/mm/images/face_sad.png);
}

.silly {
    background-image: url(http://thebrown.net/mm/images/face_silly.png);
}

.op  {
    font-weight: bold;
    font-size: 20pt;
    width: 20px;
    text-align: center;
}

.arrow {
    font-weight: bold;
    font-size: 18pt;
    width: 30px;
    text-align: center;
}

.arrow_large {
    font-weight: bold;
    font-size: 24pt;
    width: 30px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.rule:hover {
    background: #ffe066;
}

.rules {
    position: absolute; top: 20px; left: 20px;
    width: 320px; height: 320px;
    overflow-y: auto;
    background: white;
    box-shadow: 0 0 5px 3px #d6d6d6;
}

#simplemodal-overlay {
    background-color: #ccc;
}

#simplemodal-container {
    background-color: white;
    width: 500px;
    height: 150px;
    padding: 10px;
    box-shadow: 0 0 5px 3px #888;
}

div {
    /*border: 1px solid lightgray;*/
}

.rule_btn {
    width: 80px; height: 80px; border: 1px solid gray; border-bottom: 1px solid #444; background: #ddd;
}

.rule_btn:hover {
    width: 80px; height: 80px; border: 1px solid gray; border-bottom: 1px solid #444; background: white;
}

.rule_btn > div {
    height: 78px; width: 80px; border-top: 1px solid #fff; border-bottom: 1px solid gray;
}
