.fruit_large {
    width: 120px; height: 120px; position: absolute;
    background-repeat: no-repeat; background-size: 150px 150px;
    background-position: center center;
}

.tape {
    position: absolute;
    width: 800px;
    top: 390px;
}

.fruit_small {
    width: 36px; height: 50px;
    background-repeat: no-repeat; background-size: 50px 50px;
    background-position: center center;
}

.fruit_med {
    width: 75px; height: 100px;
    background-repeat: no-repeat; background-size: 100px 100px;
    background-position: center center;
}

.apples {
    background-image: url(http://thebrown.net/mm/images/fruit_apples.png);
}

.bananas {
    background-image: url(http://thebrown.net/mm/images/fruit_bananas.png);
}

.cherries {
    background-image: url(http://thebrown.net/mm/images/fruit_cherries.png);
}

.pineapple {
    background-image: url(http://thebrown.net/mm/images/fruit_pineapple.png);
}

.arrow_small {
    width: 40px; height: 40px;
    background-repeat: no-repeat; background-size: 50px 40px;
    background-position: center center;
}

.arrow_med {
    width: 60px; height: 80px;
    background-repeat: no-repeat; background-size: 80px 50px;
    background-position: center center;
}

.left {
    background-image: url(http://thebrown.net/mm/images/arrow_left.png);
}

.right {
    background-image: url(http://thebrown.net/mm/images/arrow_right.png);
}

.face_large {
    width: 80px; height: 80px; position: relative;
    background-repeat: no-repeat; background-size: 80px 80px;
    left: 97px; top: 290px;
}

.face_small {
    position: relative;
    left: 10px;
    top: 8px;
    width: 30px; height: 30px;
    background-repeat: no-repeat; background-size: 33px 33px;
    background-position: center center;
}

.face_med {
    position: relative;
    top: 10px;
    left: 15px;
    width: 50px; height: 50px;
    background-repeat: no-repeat; background-size: 50px 50px;
}

.head_small {
    position: relative;
    width: 50px; height: 40px;
    background-repeat: no-repeat; background-size: 50px 40px;
    background-image: url(http://thebrown.net/mm/images/monkey_head.png);
}

.head_med {
    position: relative;
    width: 80px; height: 60px;
    background-repeat: no-repeat; background-size: 80px 60px;
    background-image: url(http://thebrown.net/mm/images/monkey_head.png);
}

.blank {
    background-image: url(http://thebrown.net/mm/images/face_blank.png);
}

.angry {
    background-image: url(http://thebrown.net/mm/images/face_angry.png);
}

.sad {
    background-image: url(http://thebrown.net/mm/images/face_sad.png);
}

.silly {
    background-image: url(http://thebrown.net/mm/images/face_silly.png);
}

.op  {
    font-size: 20pt;
    width: 20px;
    text-align: center;
}

.arrow {
    font-weight: bold;
    font-size: 18pt;
    width: 30px;
    text-align: center;
}

.arrow_large {
    font-weight: bold;
    font-size: 24pt;
    width: 30px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.rule:hover {
    background: #ff8;
}

.active {
    background: #cfb;
}

.rules {
    position: absolute; top: 10px; left: 455px;
    width: 335px; height: 320px;
    overflow-y: auto;
    background: white;
    box-shadow: 0 0 5px 3px #d6d6d6;
}

#simplemodal-overlay {
    background-color: #ccc;
}

#simplemodal-container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px 3px #888;
}

div {
    /*border: 1px solid lightgray;*/
}

.rule_btn {
    width: 80px; height: 80px; border: 1px solid gray; border-bottom: 1px solid #444; background: #ddd;
}

.rule_btn:hover {
    width: 80px; height: 80px; border: 1px solid gray; border-bottom: 1px solid #444; background: white;
}

.rule_btn > div {
    height: 78px; width: 80px; border-top: 1px solid #fff; border-bottom: 1px solid gray;
}

* {
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.dlg_button {
    float: right;
    padding: 5px;
}

.dlg_button:hover {
    color: #ccc;
}

#bg {
    width: 800px; height: 600px; position: relative;
    background-image: url(http://thebrown.net/mm/images/conveyer.png);
    background-repeat: no-repeat; background-position: -150px -100px;
    overflow: hidden;
}

#monkey {
    width: 300px; height: 480px; position: absolute;
    left: 120px; top: -120px;
    background-image: url(http://thebrown.net/mm/images/monkey0.png);
    background-repeat: no-repeat; background-size: 300px 480px;
}

#addrule {
    height: 40px;
    text-align: center;
}

body, p, div, td {
    font-family: Verdana, sans-serif;
}

.buttons {
    position: absolute;
    width: 62px;
    height: 290px;
    left: 10px;
    top: 10px;
    background: white;
    box-shadow: 0 0 5px 3px #d6d6d6;
}

.buttons div {
    width: 50px;
    height: 35px;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 60px 210px;
    border: 1px solid white;
    text-align: center;
    padding-top: 15px;
    overflow: hidden;
    /*text-indent: -200px;*/
    /*background-image: url(http://thebrown.net/mm/images/buttons.png);*/
}

#button_next {
    background-position: -5px -121px;
}

#button_undo {
    background-position: -3px -38px;
}

#button_reset {
    background-position: -2px 3px;
}

#button_go {
    background-position: -4px -81px;
}

#button_go.button_stop {
    background-position: -4px -162px;
}

.buttons div:hover {
    border: 1px solid gray;
}


#menu {
    width: 800px; height: 600px; position: relative;
    background-image: url(http://thebrown.net/mm/images/conveyer.png);
    background-repeat: no-repeat;
    background-position: -40px -240px;
    background-size: 800px 600px;
}

#wnd {
    width: 800px; height: 600px; position: relative;
    border: 1px solid lightgray; overflow: hidden;
}

#scroll {
    width: 800px; height: 1200px; position: relative;
}

#menu div {
    text-align: center;
}

.title {
    padding: 20px; font-size: 30pt;
}

.menuTape {
    position: absolute; top: 140px;
}

#play {
    width: 100px;
    margin: auto auto;
    color: gray;
}

#prev_puzzle, #next_puzzle {
    width: 50px;
    margin: auto auto;
    color: gray;
}

#play.enabled, #prev_puzzle.enabled, #next_puzzle.enabled {
    color: black;
}

#play.enabled:hover, #prev_puzzle.enabled:hover, #next_puzzle.enabled:hover {
    color: red;
    cursor: pointer;
}

.puzzle_btns {
    position: absolute;
    top: 500px;
    text-align: center; font-weight: bold; font-size: 25pt;
}

.win {
    margin: 20px;
    font-size: 30pt;
    font-weight: bold;
    width: 200px;
    text-align: center;
}

.win_next {
    margin: 20px;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.win_next:hover {
    color: red;
    cursor: pointer;
}
